*{
    box-sizing: border-box;
}

.outer-wrapper{
    background-color: #dc140a;
}

.inner-wrapper{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    flex-direction: column;
}

.logo{
    margin-left: 20px;
    padding-top: 5px;
    width: 180px;
    height: auto;
}

.heading-text{
    font-size: 24px;
    color: #dc140a;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-container{
    display: flex;
    justify-content: space-between;
}


.hotel{
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
}

.flex{
    display: flex;
}

.width-100{
    width: 100%;
}

.menu{
    display: none;
}

@media only screen and (max-width: 992px) {
    .tablet-off{
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
   .logo{
       width: 20%;
       margin-left: 17%;
   }

   .menu{
       display: inline;
       color: white;
       margin-left: 20px;
       width: 20%;
       padding-bottom: 5px;
   }
}
